729solutions.Web/Service References/WcfServiceReference/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7093/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/COreDBWCFService" />
  <xs:element name="getUsersbyEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserEmail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUsersbyEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/COreDBWCFService" minOccurs="0" name="getUsersbyEmailResult" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>